body {
	width: 90%;
	margin: 0 auto;
}


.customBorder {
	border-bottom: 2px solid black;
	padding: 0px 210px;
}

.col-md-2 {
	text-align: right;
}

.productList {
	margin-top: 50px;
	text-align: center;
}

.innerDiv {
	border:  1px solid black;
}

.delete-checkbox {
	width: 20px;
	height: 20px;
	text-align: center;
	margin: 0 auto !important;
}

.productSelect, .productInformation {
	margin: 15px 0;
}

.card-body p {
	margin-bottom: 2px;
}


.productList, .addProduct {
	border-bottom: 2px solid black;
	padding-bottom: 50px;
}



.addProduct .col-md-6 {
	margin: 0 auto;
}

#dvd div, #book div, #furniture div {
	margin-top: 10px;
}

#dvd, #book, #furniture  {
	display: none;
	margin-top: 50px;
	margin-bottom: 50px;
}

/* Media CSS */

